<!DOCTYPE html>
<html>
  <head>
    <title>James Secor art</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="root-container" class="container-fluid">
    <%= react_component "App", { isLoggedIn: current_user.present? } %>
    <div class="row">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
